table {
  font-size: 16px;
  background-color: #EAEDEF;
  margin-bottom: (8px*2);
  //HTML table reset
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  margin: 10;
}
tr {
  border-top: solid 1px #788E9A;
  border-left: solid 1px #788E9A;
  border-right: solid 1px #788E9A;
}
tr:last-child {border-bottom: solid 2px #788E9A;}
tr:hover {background-color: #f5f5f5;}
td, th {
  font-weight: 60;
  //Borders stack on HTML Tables so this needs to be 2px
  border-bottom: solid 2px #788E9A;
  border-top: solid 1px #788E9A;
  border-left: solid 1px #788E9A;
  border-right: solid 1px #788E9A;
  padding: 2px;
  text-align: inherit;
}